/* Contenedor principal */
.home-container {
  padding: 20px;
  text-align: center;
}

.welcome-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Contenedor de los cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Fondo blanco para el modal */
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 90%;
  max-width: 400px;
  z-index: 1000;
  color: #000; /* Texto negro en el modal */
}

.modal-toggle:checked + .modal {
  display: block;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.close-modal-label {
  align-self: flex-end;
  font-size: 24px;
  cursor: pointer;
}

/* Estilo para el botón dentro del Card 1 */
.price-range-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* Espaciado del botón dentro del card */
}

.price-range-btn:hover {
  background-color: #0056b3;
}

/* Card que es clickable */
.clickable-card {
  cursor: pointer;
}

/* Estilo del input que activa el modal */
.modal-toggle {
  display: none; /* Escondemos el input */
}
.options-dropdown {
  width: 100%; /* Asegura que el dropdown ocupe el ancho completo */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ddd; /* Borde ligero */
  margin-bottom: 20px; /* Espacio antes del botón */
}
.img{
  width: 100px;  /* Ajusta el tamaño de la imagen */
  height: auto;  /* Mantén la proporción de la imagen */
  margin-bottom: 10px;
}