/* Estructura general del formulario */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  overflow: auto; /* Permite scroll si el contenido es muy grande */
}

.register-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilo en pantallas pequeñas: limita la altura del formulario y agrega scroll */
@media (max-width: 768px) {
  .register-box {
    max-height: 90vh; /* Limita la altura al 90% de la pantalla */
    overflow-y: auto; /* Añade scroll vertical dentro del formulario */
    padding: 15px;
  }
  .register-title {
    font-size: 20px;
  }
}

.register-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #4e54c8;
}

.register-form {
  display: flex;
  flex-direction: column;
  
}

/* Organización de los inputs en filas de dos */
.form-row {
  display: flex;
  justify-content: space-between;
  
}

.form-group {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  padding: 10px;box-sizing: border-box;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.register-button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* Asegura que el botón ocupe todo el ancho */
}

.register-button:hover {
  background-color: #0056b3;
}

/* Estilo responsivo para pantallas de laptop */
@media (max-width: 1024px) {
  .register-box {
    padding: 20px;
  }
  .form-row {
    gap: 10px;
  }
}

/* Estilo responsivo para pantallas más pequeñas */
@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }
  .register-box {
    padding: 10px;
    max-width: 100%;
  }
}

.inic-hom {
  text-align: center;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
